

<h1>About</h1>

<p>
	<%= link_to "One Month Rails", "http://onmeonthrails.com" %>
	is a project to teach 
	<%= link_to "Ruby of Rilas", "http://rubyonrails.org" %>
	in a onth. THIS IS THE SAMPLE APP
</p>
